table {
    width: 100%;
     border-collapse: collapse;
}

table td {
    padding: 12px 16px;
}

table thead tr {
    font-weight: bold; 
    border-top: 1px solid #e8e9eb;
}

table tr {
    border-bottom: 1px solid #e8e9eb;
}

.table__section{
    margin-top: 90px;
}

.table__td_heading{
    color: #222222;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.table__info{
    display: flex;
    flex-direction: row;
    margin-top: 22px;
    margin-bottom: 22px;
}

.table__info_img{
    width: 100px;
    height: 115px;
    margin-right: 21px;
}

.table__quantity{
    width: 54px;
height: 30px;
border: 1px solid #eaeaea;
background-color: #ffffff;
display: flex;
align-items: center;
justify-content: center;
}

.cancel{
    width: 15px;
    height: 15px;
    background-color: #eaeaea;;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c0c0c0;
    align-self: center;
}

.table__product_heading{
    margin-bottom: 38px;
}

.weight{
    font-weight: bold;
}

.cancel__block{
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopping__buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.shopping__btn{
    width: 235px;
    height: 50px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.shipping{
    display: flex;
    justify-content: space-between;
    margin-top: 81px;
    margin-bottom: 79px;
}

.shipping__heading{
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.adress{
    display: flex;
    flex-direction: column;
}

.shipping__adress{
    width: 355px;
    height: 45px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    margin-top: 22px;
}

.shipping__button{
    width: 100px;
    height: 35px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    margin-top: 23px;
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
}

.discount{
    display: flex;
    flex-direction: column;
}

.shipping__text{
    margin-top: 28px;
    color: #000000;
    font-size: 14px;
    font-weight: 300;
}

.total{
    width: 360px;
    height: 214px;
    background-color: #f5f3f3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.total__price{
    border-bottom: 1px solid #e8e9eb;
    margin: 0px 44px;
    display: flex;
    flex-direction: column;
    width: 275px;
    align-items: flex-end;
}

.checkout__btn{
    width: 273px;
    height: 50px;
    background-color: #f16d7f;
    border: none ;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 17px;
}

.sub__total{
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.grand__total{
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 22px;
    margin-top: 14px;
}

.pink{
    color: #f16d7f;
}