@font-face 
    font-family: 'Kanit Light'
    src: url(fonts/Kanit-Light.woff2)

@font-face 
    font-family: 'Kanit Medium'
    src: url(fonts/Kanit-Medium.woff2)

main 
    margin: 0 auto

body
    overflow-x: hidden
    font-family: 'Kanit Medium'

.container
    max-width: 1141px
    margin: 0 auto
    box-sizing: border-box;
.header
    width: 100%
    height: 120px
    display: flex
    align-items: center

.nav__menu 
    display: none

.trigger 
    display: inline-block
    margin: 3px
    cursor: pointer

.rotate-right
    position: relative
    transform: rotate(-45deg)
    top: 6px

.rotate-left
    transform: rotate(45deg)

.trigger .line__vsbl
    display: block
    width: 24px
    height: 2px
    margin: 4px auto
    background: #222
    transition: 0.3s
  
.line__hidden
    display: none

.show 
    display: block
    position: fixed
    margin-top: 35px
    width: 344px
    height: 359px
    padding: 52px 0
    list-style: none
    background: #FFFFFF
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.1)

a:hover
    color: grey

.menu__item 
    display: block
    padding-top: 13px
    padding-left: 66px
    font-weight: 500
    font-size: 16px
    line-height: 24px
    text-decoration-line: underline
    color: #000000

.preview
    font-family: 'Kanit Medium'
    display: flex
    width: 100%
    margin: 0 auto

.preview__image-block
    width: 50%
    display: flex
    justify-content: end

.preview__right-block
    width: 50%
    background-color: black
    color: white
    max-height: 570px
    max-width: 720px
    
.preview__menu
    display: flex
    justify-content: space-between
    color: #ffffff
    font-size: 14px
    margin-bottom: 66px
    
.preview__image
    max-width: 720px
    max-height: 570px
    object-fit: cover

.preview__link
    color: #ffffff
    text-transform: uppercase
    letter-spacing: normal
    font-size: 16px
    line-height: 24px
    
.preview__date
    letter-spacing: 7px

.preview__heading
    color: #ffffff
    font-size: 28px
    font-weight: 500
    text-transform: uppercase
    margin-bottom: 29px
    
.preview__text
    color: #ffffff
    font-size: 14px
    font-weight: 300 
    margin-bottom: 54px
    font-family: 'Kanit Light'
    
.preview__button
    padding: 18px 66px
    line-height: 18px
    font-size: 12px
    display: inline-block
    color: #ffffff
    text-align: center
    text-transform: uppercase
    border: 1px solid #ffffff
    background-color: black
    
    
.preview__elements
    padding-bottom: 151px
    padding-left: 108px
    padding-right: 109px
    padding-top: 100px

.featured
    display: flex
    justify-content: center
    flex-direction: column
    
.featured__items
    display: flex
    justify-content: space-between
    flex-direction: row
    

.featured__item_left
    margin-right: 13.5px

.featured__item_right
    margin-left: 13.5px

.featured__heading
    margin-bottom: 30px
    margin-top: 59px
    color: #1f1f1d
    font-size: 18px
    text-align: left
    text-transform: uppercase

.featured__image
    max-width: 557px
    height: 368px

.featured__item
    max-width: 557px
    padding: 0
    
.featured__link
    text-decoration: underline

.featured__date
    letter-spacing: 6px

.featured__menu
    margin-top: 26px
    margin-bottom: 34px

.featured__headline
    color: #1f1f1d
    font-size: 24px
    font-weight: 500
    margin-bottom: 19px

.featured__text
    color: #1f1f1d
    font-size: 18px
    font-family: 'Kanit Light'

.menu
    display: flex
    justify-content: space-between
    color: #000000
    font-size: 12px
    font-weight: 500
    letter-spacing: 6px

.link
    color: #000000
    text-transform: uppercase
    letter-spacing: normal
    text-decoration: none

.link-white 
    color: white

.small
    margin-top: 63px

.small__date
    letter-spacing: 6px

.small__image
    margin-bottom: 18px
    max-height: 240px
    max-width: 363px

.small__heading
    color: #1f1f1d
    font-size: 18px
    font-weight: 500
    text-transform: uppercase
    margin-top: 22px

.small__item
    max-width: 363px

.button
    display: flex
    justify-content: center
    margin-top: 63px

.button__all
    width: 238px
    height: 42px
    background-color: #303030
    color: #ffffff
    font-size: 14px
    font-weight: 500
    text-align: center
    text-transform: uppercase

.subscribe
    margin-top: 71px

.subscribe__image    
    background-image: url(img/subscribe.png)
    background-size: cover
    height: 361px

.subscribe__info
    background-color: black
    height: 361px

.subscribe__heading
    color: #ffffff
    font-size: 34px
    text-transform: uppercase

.subscribe__button
    width: 198px
    height: 42px
    border: 1px solid #ffffff
    background-color: black
    color: white
    margin-top: 20px
    text-transform: uppercase

.subscribe__info
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

.footer
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background-color: black
    height: 163px
    margin-top: 100px

.footer__heading
    margin-bottom: 38px
    margin-top: 55px

.footer__text 
    font-family: Kanit
    font-weight: 300
    font-style: normal
    font-size: 12px
    line-height: 18px
    text-align: center
    color: white
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    
@media screen and (max-width: 1240px)

    .preview__elements 
        padding-bottom: 51px
        padding-left: 78px
        padding-right: 79px
        padding-top: 70px


    .preview__image
        max-width: 620px
        max-height: 570px
        min-width: 50%

    .preview__right_block
        max-width: 620px
        max-height: 570px
        min-width: 50%

    .container
        max-width: 941px

    .featured__image
        max-width: 455px
        max-height: 301px

    .featured__info
        max-width: 455px

    .small__image
        max-width: 295px
        max-height: 195px

    .small__info   
        max-width: 295px

    .subscribe
        margin-top: 61px

    .subscribe__item
        max-width: 470px
        max-height: 361px

@media screen and (max-width: 992px)
    .preview__image_block
        max-width: 496px
        width: 50%
    
    .preview__image
        max-width: 496px

    .preview__right_block
        max-width: 496px
        width: 50%

    .preview__elements 
        padding-bottom: 20px
        padding-left: 28px
        padding-right: 29px
        padding-top: 30px

    .featured__image
        max-width: 405px
        max-height: 255px
        width: 100%

    .featured__info
        max-width: 405px

    .small__image
        max-width: 275px
        max-height: 195px

    .small__info   
        max-width: 275px

    .subscribe__item
        max-width: 450px
        max-height: 361px
        width: 50%

    .subscribe
        margin-top: 49px
        width: 100%
        max-width: 900px

@media screen and (max-width: 864px)
    .small__image
        max-width: 240px 

    .small__item
        max-width: 240px 
@media screen and (max-width: 768px)
    .header
        height: 65px
        
    .preview__image
        max-width: 384px
    
    .preview
        max-width: 768px

    .preview__menu
        font-size: 12px
        margin-bottom: 20px
    
    .preview__link
        display: none
    
    .preview__heading
        font-size: 18px
        margin-bottom: 20px
    
    .preview__text
        font-size: 12px
        margin-bottom: 31px
    
    .preview__button
        height: 40px
        padding: 11px 65px
    
    .preview__right_block
        max-width: 383px
        max-height: 354px
    
    .preview__elements
        max-width: 344px
        max-height: 354px
        padding-bottom: 72px
        padding-left: 21px
        padding-right: 18px
        padding-top: 72px
    
    .featured__heading
        margin-bottom: 21px
        margin-top: 60px
    
    .featured__image
        max-width: 345px    
        max-height: 228px
    
    .featured__menu
        font-size: 12px
        margin-top: 21px
        margin-bottom: 16px
    
    .featured__headline
        font-size: 18px
        margin-bottom: 21px
    
    .featured__text
        font-size: 14px
    
    .featured__info 
        max-width: 345px
        margin: 0

    .small
        margin-top: 36px

    .small__image
        margin-bottom: 21px
        max-height: 145px
        max-width: 220px

    .small__heading
        font-size: 16px
        margin-top: 15px

    .small__info
        max-width: 220px

    .link
        letter-spacing: 0

    .button
        margin-top: 49px

    .subscribe
        margin-top: 60px
    
    .subscribe__image
        height: 275px
        
    
    .subscribe__info
        height: 275px
        
    
    .subscribe__heading
        font-size: 18px
    
    .subscribe__button
        margin-top: 27px

    .footer
        max-height: 163px
        margin-top: 70px

@media screen and (max-width: 685px)
    .small__image
        max-width: 204px 

    .small__item
        max-width: 204px 

@media screen and (max-width: 660px)
    .small__image
        max-width: 183px 
    
    .small__item
        max-width: 183px 

@media screen and (max-width: 575px)
    .preview
        flex-direction: column
        width: 100%

    .preview__image-block
        width: 100%

    .preview__image
        max-width: 575px
        width: 100%

    .preview__right-block
        width: 100%
        max-width: 575px
    
    .preview__elements
        padding-bottom: 72px;
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 72px;
        max-width: 500px;
    
    .preview__menu
        font-size: 12px
        letter-spacing: 6px
        margin-bottom: 20px
    
    .preview__heading
        font-size: 18px
        margin-bottom: 20px
    
    .preview__text
        font-size: 12px
        margin-bottom: 20px
    
    .preview__button
        height: 40px
        font-size: 12px

    .featured__items
        margin: 0 auto
        display: flex
        flex-direction: column
        align-items: center
        margin-bottom: 30px
    
    .featured__item
        max-width: 560px
        width: 100%
        max-height: 700px

    .featured__image
        max-width: 560px    
        width: 100%
        height: 100%
        max-height: 333px

    .featured__info
        width: 100%
        height: 100%
        max-width: 560px

    .featured__item_right
        margin: 0 auto
    
    .featured__item_left
        margin: 0 auto

    .featured__menu 
        font-size: 16px
    
    .featured__headline 
        font-size: 20px

    .featured__text
        font-size: 18px

    .small__container
        display: flex
        justify-content: center

    .small__item
        max-width: 560px
        max-height: 700px
        width: 100%

    .small__image   
        width: 100% 
        max-width: 560px
        max-height: 700px

    .small__info
        max-width: 560px
        max-height: 700px
        width: 100%
        margin-bottom: 30px

    .small__menu 
        font-size: 16px
    
    .small__headline 
        font-size: 20px

    .small__text
        font-size: 18px
     
    .subscribe
        margin-top: 30px
        max-width: 560px

    .subscribe__image, .subscribe__info 
        width: 100%
        max-width: 560px

@media screen and (max-width: 364px)
    .preview__elements
        padding-bottom: 52px;
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 52px;

    .show
        width: 300px

@media screen and (max-width: 320px)
    .preview
        max-width: 320px

    .preview__image
        max-width: 320px
    
    .preview__image_block
        max-width: 320px
    
    .preview__right-block
        width: 100%

    .preview__link
        display: none
    
    .preview__right
        max-height: 246px
    
    .preview__elements
        padding-top: 15px
        padding-bottom: 32px
        padding-left: 12px
        padding-right: 13px
    
    .featured__heading
        margin-bottom: 21px
        margin-top: 60px
    
    .featured__image
        max-width: 295px
        max-height: 195px
    
    .featured__menu
        font-size: 12px
        margin-top: 16px
        margin-bottom: 16px
    
    .featured__link
        display: none
    
    .featured__info 
        max-width: 295px

    .small__image
        margin-bottom: 18px
        margin-top: 22px
        max-width: 295px
        max-height: 195px

    

    .small__heading
        font-size: 16px
        margin-top: 15px
    
    .small__info 
        max-width: 295px
    
    .small__item
        display: flex
        align-items: center
        justify-content: center 
        flex-direction: column

    .link
        letter-spacing: none

    .button
        margin-top: 42px

    .subscribe
        margin-top: 43px
        max-width: 320px

    .subscribe__image 
        height: 245px
        max-width: 320px

    .subscribe__info
        height: 175px
        max-width: 320px
            
    .subscribe__heading
        font-size: 18px

    .subscribe__button
        height: 43px
        margin-top: 27px
        font-size: 14px