@font-face {
    font-family: Truetypewriter PolyglOTT;
    src: url(font.ttf);
}
body{
    background-color: rgb(212, 252, 212);
}
.forms{
    font-family: 'Truetypewriter PolyglOTT';
    width: 30%;
    border-radius: 15px;
    border: 1px solid rgb(61, 194, 112);
    margin: 0 auto;
    background-color: white;
}
.text{
    color: rgb(17, 17, 17);
    font-size: 20px;
    margin-left: 45px;
    
}
.text_radio{
    color: rgb(17, 17, 17);
    font-size: 20px;
}
.input{
    width: 80%;
    border: 1px solid grey;
    border-radius: 5px;
    margin-left: 45px;
    height: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.input_radio{
    margin-left: 45px;
    margin-top: 20px;
}
#select{
    width: 80%;
    height: 35px;
    margin-left: 45px;
    margin-bottom: 15px;
    border: 1px solid grey;
    border-radius: 5px;
}
#agrement{
    margin-left: 45px;
    margin-right: -45px;
}

.image{
    border-radius: 200px;
    width: 250px;
    height: 200px;
    margin: 0 auto;
    margin-left: 27%;
}

.name{
    text-align: center;
}

.email{
    text-align: center;
}

.proffesion{
    text-align: center;
}
.sign-up{
    font-size: 30px;
    font-family:  'Truetypewriter PolyglOTT';
    width: 82%;
    height: 45px;
    border-radius: 10px;
    display: flex;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 30%;
}
.sign-up-disabled{
    background-color: rgb(153, 153, 153);
    color: rgb(0, 0, 0);
}
.sign-up-enabled{
    background-color: rgb(61, 194, 112);
    color: rgb(0, 0, 0);
}
#sign-out{
    border: 1px solid rgb(61, 194, 112);
    border-radius: 10px;
    background-color: white;
    color: rgb(41, 102, 64);
    margin-left: 35%;
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-family:  'Truetypewriter PolyglOTT';
}

.sign-up-enabled:hover{
    background-color: rgb(9, 255, 103);
    transition: 1s;
}
#sign-out:hover{
    background-color: rgb(61, 194, 112);
    color:black;
    transition: 1s;
}

#woman_img{
    display: none;
}

#man_img{
    display: none;
}

#form1{
    display: block;
}

#form1::before{
        content: 'Create your account';
        background-color: rgb(61, 194, 112);
        color: rgb(0, 0, 0);
        height: 30px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        display:block;
        padding-top: 30px;
        padding-bottom: 40px;
        margin-bottom: 15px;
        text-align: center;
        font-size: 30px;
        box-sizing: border-box;
}

#information{
    display: none;
    font-size: 20px ;
}

#information::before{
    content: '';
    width: 100%;
    background-color:rgb(61, 194, 112);
    height: 50px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#information::after{
    content: '';
    width: 100%;
    background-color:rgb(61, 194, 112);
    margin-top: 10px;
    height: 50px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}