@font-face {
    font-family: Excentra Pro;
    src: url(excentra-pro-light.woff2);
}

.forms {
    font-family: 'Excentra Pro';
    margin: 0 auto;
}

.container{
    margin: 30px 25px ;
    width: 568px;
}

.text {
    color: rgb(17, 17, 17);
    font-size: 17px;
    margin-bottom: 13px;
}

.text_radio {
    color: rgb(17, 17, 17);
    font-size: 17px;
}

.input {
    width: 546px;
    border: 1.5px solid rgb(219, 219, 219);
    border-radius: 5px;
    height: 43px;
    margin-top: 13px;
    margin-bottom: 13px;
    font-size: 13px;
    padding-left: 17px;
}

.input_radio {
    width: 17px;
    height: 17px;
    
}

#select {
    width: 568px;
    height: 43px;
    margin-bottom: 15px;
    border: 1.5px solid rgb(219, 219, 219);
    border-radius: 5px;
    padding-left: 17px;
}

#agrement {
    width: 19px;
    height: 17px;
    border-radius: 7px;
    border: 1px solid rgb(236, 235, 235);
}


.name {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 21px;
    font-weight: bold;
    font-size: 25px;
}

.email {
    text-align: center;
}

.proffesion {
    margin-top: 33px;
    text-align: center;
    text-transform: capitalize;
}

.sign-up {
    font-size: 25px;
    font-family: 'Excentra Pro';
    width: 100%;
    height: 51px;
    border-radius: 10px;
    display: flex;
    margin-top: 33px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}

.sign-up-disabled {
    background-color: #6bba83;
    color: white;
}

.sign-up-disabled:hover {
    background-color: grey;
    transition: 0.3s;
}

.sign-up-enabled {
    background-color: rgb(61, 194, 112);
    color: white;
}

#sign-out {
    border: 1px solid #2ca36e;
    border-radius: 10px;
    color: #2ca36e;
    background-color: white;
    width: 95px;
    height: 41px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Excentra Pro';
    margin-bottom: 29px;
    margin-left: 200px;
}

.sign-up-enabled:hover {
    background-color: rgb(23, 167, 78);
    transition: 0.3s;
}

#sign-out:hover {
    background-color: #2ca36e;
    color: white;
    transition: 0.3s;
}

#form1 {
    display: block;
    width: 620px;
    height: 100%;
    border-radius: 15px;
    border: 2px solid rgb(182, 182, 182);
}

#form1::before {
    content: 'Create your account';
    background-color: #2ca36e;
    color: rgb(255, 255, 255);
    height: 62px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    margin-bottom: 32px;
    width: 100%;
}

#information {
    display: none;
    font-size: 20px;
    width: 500px;
    height: 500px;
    border-radius: 15px;
    border: 2px solid rgb(182, 182, 182);
    position: relative;

}

.bg-img {
    position: absolute;
    top: 68px;
    background-color: white;
    right: 182px;
    width: 133px;
    height: 136px;
    border: 1px solid white;
    border-radius: 100px;
}

.image {
    border-radius: 50px;
    border: 1px solid white;
    width: 110px;
    height: 110px;
    background-size: cover;
    margin: 0 auto;
    margin-top: 11px;
}


#information::before {
    display: block;
    content: '';
    width: 500px;
    height: 136px;
    background-color: #2ca36e;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

#information::after {
    display: block;
    content: '';
    width: 100%;
    background-color: #2ca36e;
    margin-top: 10px;
    height: 50px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

  .input_radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin-top: 20px;
  }

  .input_radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .input_radio+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  .input_radio:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
  }
  .input_radio:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
  }
  .input_radio:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  }
  .input_radio:disabled+label::before {
    background-color: #e9ecef;
  }