@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap');
body{
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 221, 221);
    font-size: 18px;
    font-family: 'Encode Sans SC', sans-serif;
    color: rgb(48, 0, 82);
}

tr{
    display: flex;
    justify-content: space-around;
}

table {
    width: 100%; 
    border-collapse: collapse;
    background: rgb(252, 234, 234);
    font-weight: 400;
}

.removing{
    background-color: red;
}

table td {
    padding: 20px 24px;
}

table tr {
    border-bottom: 1px solid #b399ac;
}


.edit_button{
    border: none;
    padding: 5px 15px;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px #f7ed6b inset, 0 0 0 0 #f7ed6b;
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: .15s ease-in-out;
}



.edit_button:hover {
    border: none;
    box-shadow: 0 0 10px 0 #f7ed6b inset, 0 0 10px 4px #f7ed6b;
    color: #beb201;
}
      
.delete_button{
    border: none;
    padding: 5px 15px;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px #e05353 inset, 0 0 0 0 #e05353;
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: .15s ease-in-out;
}


.delete_button:hover {
    border: none;
    box-shadow: 0 0 10px 0 #e05353 inset, 0 0 10px 4px #e05353;
    color: #e05353;
}

.submit_button{
    border: none;
    padding: 10px 15px;
    margin: 20px 0px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px rgb(215, 127, 233) inset, 0 0 0 0 rgb(215, 127, 233);
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: .15s ease-in-out;
}

.edit-user_button{
    border: none;
    padding: 10px 15px;
    margin: 20px 0px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px rgb(215, 127, 233) inset, 0 0 0 0 rgb(215, 127, 233);
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: .15s ease-in-out;
}

.edit-user_button:hover {
    border: none;
    background-color: rgb(252, 234, 234);
    box-shadow: 0 0 10px 0 rgb(215, 127, 233), 0 0 10px 4px rgb(215, 127, 233);
    color: rgb(48, 0, 82);
}

.submit_button:hover {
    border: none;
    background-color: rgb(252, 234, 234);
    box-shadow: 0 0 10px 0 rgb(215, 127, 233), 0 0 10px 4px rgb(215, 127, 233);
    color: rgb(48, 0, 82);
}


.input{
    border: 1px solid #b399ac;
    padding: 10px 15px;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px rgb(252, 234, 234) inset, 0 0 0 0 rgb(252, 234, 234);
    font-family: 'Encode Sans SC', sans-serif;
    letter-spacing: 2px;
    color: rgb(48, 0, 82);
    transition: .15s ease-in-out;
}

.wrong{
    border-color:  red;
}

.modal {
    display: none;
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.5);
    
  }

 
  .modal-content {
    background-color: rgb(252, 234, 234);
    margin: 15% auto; 
    padding: 30px;
    color: rgb(48, 0, 82);
    border-radius: 10px;
    width: 30%;
    text-align: center;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(48, 0, 82);
    text-decoration: none;
    cursor: pointer;
  }

  .main{
      font-style: italic;
      font-weight: 500;
      color: rgb(15, 2, 24); 
  }

 .show{
    display: block;
  }

 .hide{
    display: none;
  }

  .question{
    border: none;
    margin-top: 15px ;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 60px;
    box-shadow: 0 0 40px 40px rgb(215, 127, 233) inset, 0 0 0 0 rgb(215, 127, 233);
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: white;
    width: 50px;
    height: 50px;
    float: right;
    justify-content: center;
    align-items: center;
}

.question:hover {
    border: none;
    background-color: rgb(252, 234, 234);
    box-shadow: 0 0 10px 0 rgb(215, 127, 233), 0 0 10px 4px rgb(215, 127, 233);
    color: rgb(48, 0, 82);
    cursor: pointer;
}

.question_show{
    display: flex;
    
}

.question_hide{
    display: none;
}


.cell{
    text-align: center;
}