
body{
    display: flex;
    justify-content: space-around;
}

tr{
    display: flex;
    justify-content: space-around;
}

.iksweb{
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;

}

.tr-new{
    border: 1px solid rgb(255, 255, 255);
    background-color: red;
    float:left;
    
}
.edit_button{
    border: 1px solid black;
    background-color: yellow;
    float: left;
    
}
.delete_button{
    border: 1px solid black;
    background-color: rgb(255, 0, 0);
    float: left;
}

.values{
    float: left;
}
